body {
    background-color: rgb(241, 22, 223);
    animation: bgChange 3s infinite;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:rgb(20, 0, 34)
}

h2 {
    color: #ffffff;
    margin-top: 50px;
}

.player-two {
    display: flex;
    align-items: flex-end;
}

@keyframes bgChange {
    0% {background-color: #8005d3;}
    25% {background-color: #1803db;}
    50% {background-color: #422ef5;}
    100% {background-color: #a732eb;}
}

#background {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  /* items move to next row */
    height: 100vh;
    margin: 0;
    gap: 5px
}

.cell {
    background-color: #ffffff;
    display: flex;
    width: 180px;
    height: 180px;
    border: 5px solid rgb(109, 0, 182);
    box-sizing: border-box;
}

.cell:nth-child(2n) {
    border: 5px solid rgb(255, 0, 170);
}

#reset-button {
    display: flex;
    justify-content: flex-end;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #f119cd;
    height: 20px;
    margin-top: 10px;
}

#score {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    height: 20px;
    color:#f119cd
}

#weather {
    color: #ffffff;
}
