body {
    background-color: rgb(241, 22, 223);
    animation: bgChange 3s infinite;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    color:rgb(228, 191, 255);
}

h2 {
    color: #ffffff;
    margin-top: 50px;
}

@keyframes bgChange {
    0% {background-color: #8005d3;}
    25% {background-color: #1803db;}
    50% {background-color: #422ef5;}
    100% {background-color: #a732eb;}
}

#background {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;  /* items move to next row */
    height: 100vh;
    margin: 0;
    gap: 5px
}

.is-hidden {
    display: none;
}

.cell {
    display: grid;
    background-color: #ffffff;
    display: flex;
    width: 180px;
    height: 180px;
    border: 5px solid rgb(109, 0, 182);
    box-sizing: border-box;
}

.cell:nth-child(2n) {
    display: grid;
    border: 5px solid rgb(255, 0, 170);
}

#reset-button {
    display: flex;
    justify-content: flex-end;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #f119cd;
    height: 20px;
    margin-top: 10px;
}

#welcome {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    height: 20px;
    color:#f119cd
}

#weather {
    color: #ffffff;
}

#card-players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 50px;
}

.player {
    display: block;
    display: flex;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}
.player-two {
    display: block;
    display: flex;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

.score {
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
}

#start-game-btn {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #f119cd;
    height: 20px;
    padding: 0.5em 1em;
    margin-top: 50px;
}
